.challenge-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	box-sizing: border-box;
	z-index: 800;
	font-size: 14px;
	background-color: #4C5C66;
	border-bottom: 1px solid #ddd;
	min-width: 921;
}

.header-inner{
	box-sizing: border-box;
	position: relative;
	height: 60px;
	width: 100%;
	min-width: 400px;
}

.logo{
	width: 100px;
	height: 36px;
	padding-left: 20px;
	padding-top: 16px;
	display: inline-block;
}

.header-nav{
	position: relative;
	height: 60px;
	width: 240px;
	z-index: 1;
	float: right;
	display: table;
	margin-left: 20px;
	padding-bottom: 20px;
	bottom: 45px;
}

a{
	text-decoration: none; 
}

.text-nav{
    font-weight: bold;
	position: fixed;
	font-family: sans-serif;
	font-size: 20px;
	top: 25px;
	padding-left: 4px;
	color: #fff;
}

.text-nav-careers{
    font-weight: bold;
	position: fixed;
	font-family: sans-serif;
	font-size: 20px;
	top: 25px;
	color: #fff;
}

.navbar-item-careers{
    font-family: sans-serif;
    font-weight: bold;
	height: 67px;
	width: 90px;
	padding-left: 18px;
	max-height: 70px;
	padding-top: 46px;
	max-width: 90px;
	-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
}

#link{
	display: inline-block;
}

.navbar-item{
    font-family: sans-serif;
    font-weight: bold;
	height: 67px;
	width: 80px;
	padding-left: 15px;
	padding-top: 47px;
	max-height: 70px;
	max-width: 80px;
	-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
}

.navbar-item-careers:hover{
	background-color: #5C6D79;
}

.navbar-item:hover{
	background-color: #5C6D79;
}

.introduction {
    
}

.maincontent {
	position: relative;
    font-family: sans-serif;
    min-width: 921px;
    bottom: 110px;
}

.mainproblemcontainer {
	margin: 0 auto;
	width: 50%;
    min-width: 300px;
	padding: 10px;
	overflow: auto;
	padding-left: 6%;
}

ul {
	list-style: none;
}


.listtitle {
	font-family: sans-serif;
	color: #F58B52;
	font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    margin-top: -10;
    text-align: center;
    padding-bottom: 17px;
    border-bottom: 2px solid lightgray;
}

.listcontainer {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    text-align: center;
}

.listitem {

	padding-bottom: 10px;
}

.problemnumber {
    padding: 5px;
}

a:hover {
    color: #F58B52;
}

a{
	color: #8D9597;
	font-weight: bold;
}

.problemstable{
	margin-top: 28;
}

.problemitem {
	color: #8D9597;
	border-radius: 18px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    margin-bottom: 10px;
    background-color: white;
    overflow: auto;
}


h3{
	color: #F58B52;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 8px;
	border-bottom: 2px solid lightgray;
}

.submit-file{
	text-align: center; 
	position: relative;
	width: 70px;
	margin-left: 5px;
	margin-top: 10px;
	height: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: lightgray; 
	border-radius: 10px;
	float: right;
	box-sizing: border-box;
	overflow: auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

.submit-file:hover{
	background-color: #F58B52;
	border-color: #F58B52;
	color: white;
	-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
}

.upload-file:hover h6{
	color: white;
}

.submit-file:hover h6{
	color: white;
}


.upload-file{
	text-align: center; 
	position: relative;
	margin-top: 10px;
	width: 70px;
	height: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: lightgray; 
	border-radius: 10px;
	float: right;
	box-sizing: border-box;
	overflow: auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

#inp{
	left: 50px;
	opacity: 0;
}

.upload-file:hover{
	background-color: #F58B52;
	border-color: #F58B52;
	color: white;
	-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-ms-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
}

h6{
	margin-top: 5;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 900;
	color: #C3C3C3;
}

.problemlist {
	height: 146;
	border-radius: 18px;
	display: block;
	left: -30%;
	top: 211px;
	width: 150px;
	max-width: 150px;
	position: relative;
	padding-top: 23px;
	border-width: 2px;
	border-color: lightgray;
	border-style: solid;
	margin: 0 auto;
}

input:focus{
	outline: none;
}

#input-email{
	text-align: center;
	padding-left: 2%;
	font-family: sans-serif;
	font-weight: bold;
	border-style: solid;
	border-color: lightgray;
	color: #8D9597;;
	border-radius: 11px;
	width: 60%;
	height: 29;
	position: relative;
	margin-top: -7;
}

#input-email:hover{
	border-color: #F58B52;
}
html{
    background-color: white;
}